:root {
    --main-bg-color: #0A0A0A;
    --main-txt-color: white;
    --main-txt-color-faded: rgb(107, 107, 107);
    --main-txt-color-slightly-faded: #e7e7e7;
    --main-txt-color-slightly-less-faded: #cacaca;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    font-family: "Source Code Pro", monospace, sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    line-height: 1;

    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
}